<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row lists-footer">
      <div class="col-25">
        <h4>Increase Your Traffic</h4>
        <ul>
          <li>Ad Software</li>
          <li>Blog Software</li>
          <li>SEO Software</li>
          <li>Social Media Software</li>
          <li>Content Management System</li>
        </ul>
      </div>
      <div class="col-25">
        <h4>Connect With Leads</h4>
        <ul>
          <li>Find New Prospects</li>
          <li>Email Tracking</li>
          <li>Sales Email Templates</li>
          <li>Click to Call Your Leads</li>
          <li>Email Marketing</li>
        </ul>
      </div>
      <div class="col-25">
        <h4>Close and Manage Leads</h4>
        <ul>
          <li>Document Tracking Tool</li>
          <li>Meeting Schedule Tool</li>
          <li>Sales Automation Tool</li>
          <li>Lead Management Tool</li>
          <li>Pipeline Management Tool</li>
        </ul>
      </div>
      <div class="col-25">
        <h4>Support and Tools</h4>
        <ul>
          <li>HubSpot Partners</li>
          <li>Join a Local User Group</li>
          <li>Get a Freee Website Report</li>
          <li>HubSpot Templates</li>
          <li>Free Tools & Generators</li>
          <li id="button-footer">
            <a class="button-special" href="#">Contact HubSpot Support</a>
          </li>
          <li>
            <ul class="widgets">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-100 lang">
        <ul class="languages">
          <li><a href="#">English</a></li>
          <li><a href="#">Deutsch</a></li>
          <li><a href="#">日本語</a></li>
          <li><a href="#">Español</a></li>
          <li><a href="#">Português</a></li>
          <li><a href="#">Français</a></li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
    <div class="row info">
      <div class="col-50">
        <div class="logo-copyright">
          <img
            class="logo"
            src="https://www.hubspot.com/hubfs/WBZ-1165%20Global%20Nav%20Redesign/Wordmark-White.svg"
            alt="logo-hubspot"
          />
          <p class="copy">Copyright &copy; 2019 HubSpot, Inc.</p>
        </div>
      </div>
      <div class="col-50 privacy">
        <ul>
          <li><a href="#">Legal Stuff</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
