<main>
  <!-- PRIMA SEZIONE -->
  <section class="first-section">
    <div class="container">
      <div class="row">
        <div class="col-100">
          <img
            class="cube"
            src="./assets/img/cube.webp"
            alt="cube-with-a-detached-section"
          />
          <div class="">
            <h2>Powerful Alone. Better Together</h2>
            <p class="pt-32">
              HubSpot offers a full stack of software for marketing, sales, and
              customer service, with a completely free CRM at its core. They're
              powerful alone - but even better when used together.
            </p>
          </div>
        </div>
      </div>
      <div class="row crm">
        <div class="col-33">
          <img
            src="./assets/img/book.svg"
            alt="book-with-three-dimensional-contents"
          />
          <a class="button bg-orange btn-big" href="#">Learn more</a>
        </div>
        <div class="col-67">
          <div class="text-crm">
            <h3>Free HubSpot CRM</h3>
            <p class="pb-19">
              Everything you need to organize, track, and build better
              relationships with leads and customers. Yes, it's 100% free.
              Forever.
            </p>
            <h4 class="pb-19">popular feature</h4>
            <hr />
            <ul>
              <li>Contact Insight</li>
              <li>Deals</li>
              <li>Task</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row hub">
        <div class="col-33 mr-50">
          <img src="./assets/img/buble.svg" alt="spheres-coming-out-of-a-box" />
          <h3>Marketing Hub</h3>
          <p>
            Marketing software to help you grow traffic, convert more visitors,
            and run complete inbound marketing campaigns at scale
          </p>
          <hr />
          <h4>popolar feature</h4>
          <ul>
            <li>Lead Generation</li>
            <li>Marketing Automation</li>
            <li>Analytics</li>
          </ul>
          <a class="button bg-orange btn-big" href="#">Learn More</a>
        </div>
        <div class="col-33 mr-50">
          <img src="./assets/img/office.svg" alt="office-tools" />
          <h3>Sales Hub</h3>
          <p>
            Time-saving sales software that helps you get deeper insights into
            prospects, automate the tasks you hate, and close more deals faster.
          </p>
          <hr />
          <h4>popular feature</h4>
          <ul>
            <li>Email Tracking</li>
            <li>Meeting Scheduling</li>
            <li>Email Automation</li>
          </ul>
          <a class="button bg-orange btn-big" href="#">Learn More</a>
        </div>
        <div class="col-33">
          <img
            src="./assets/img/table.svg"
            alt="table-with-headphones-and-clouds"
          />
          <h3>Service Hub</h3>
          <p>
            Customer service software to help you connect with customers, exceed
            expectations, and turn them into promoters that grow your business.
          </p>
          <hr />
          <h4>popular feature</h4>
          <ul>
            <li>Tickets</li>
            <li>Customer Feedback</li>
            <li>Knowledge Base</li>
          </ul>
          <a class="button bg-orange btn-big" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- SECONDA SEZIONE -->
  <section class="second-section">
    <div class="container">
      <div class="row learn-and-grow">
        <div class="col-100">
          <h2 class="pb-32">
            Learn and grow with award-winning support and a thriving community
            behind you.
          </h2>
          <p class="subtitle">
            You don't have to go it alone. master the inbouund methodology and
            get the most out of your tools with HubSpot's legendary customer
            support team and a community of thousands of a marketing and sales
            pros just like you.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <table>
            <tr id="first-tr">
              <td class="bordered">
                <i class="far fa-handshake"></i>
                <p class="number">150+</p>
                <p class="t-description">HubSpot user groups</p>
              </td>
              <td class="bordered">
                <img src="./assets/img/homepage_community_blog.svg" alt="" />
                <p class="number">4.5M+</p>
                <p class="t-description">monthly visits</p>
              </td>
              <td class="bordered">
                <img src="./assets/img/homepage_community_academy.svg" alt="" />
                <p class="number">155K+</p>
                <p class="t-description">monthly visits</p>
              </td>
              <td>
                <img src="./assets/img/homepage_community_inbound.svg" alt="" />
                <p class="number">21k+</p>
                <p class="t-description">monthly visits</p>
              </td>
            </tr>
            <tr>
              <td class="bordered">
                <img src="./assets/img/homepage_community_connect.svg" alt="" />
                <p class="number">200+</p>
                <p class="t-description">monthly visits</p>
              </td>
              <td class="bordered">
                <i class="fas fa-globe-americas"></i>
                <p class="number">6+</p>
                <p class="t-description">monthly visits</p>
              </td>
              <td class="bordered">
                <i class="far fa-comments"></i>
                <p class="number">2.6M+</p>
                <p class="t-description">monthly visits</p>
              </td>

              <td>
                <img src="./assets/img/growthhub-white-small-1.svg" alt="" />
                <p class="number">5K+</p>
                <p class="t-description">monthly visits</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- TERZA SEZIONE -->
  <section class="third-section">
    <div class="container">
      <!-- RIGA NUMERO E LOGHI -->
      <div class="row">
        <div class="col-33">
          <div class="text-ncustomers">
            <h3 class="number">64,500</h3>
            <p>
              customers in over <b>100</b> countries growing their businesses
              with HubSpot
            </p>
          </div>
        </div>
        <div class="col-67 loghi">
          <div class="row">
            <div class="col-25">
              <img
                id="atlasian"
                src="./assets/img/atlasian.webp"
                alt="logo-atlasian"
              />
            </div>
            <div class="col-25">
              <img
                id="doordash"
                src="./assets/img/doordash.webp"
                alt="logo-doordash"
              />
            </div>
            <div class="col-25">
              <img id="crowd" src="./assets/img/g2c.webp" alt="logo-crowd" />
            </div>
            <div class="col-25">
              <img
                id="purple"
                src="./assets/img/purple.webp"
                alt="logo-purple"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <img
                id="subaru"
                src="./assets/img/subaru.webp"
                alt="logo-subaru"
              />
            </div>
            <div class="col-25">
              <img
                id="wistia"
                src="./assets/img/wistia.webp"
                alt="logo-wistia"
              />
            </div>
            <div class="col-25">
              <img
                id="classpass"
                src="./assets/img/classpass.webp"
                alt="logo-classpass"
              />
            </div>
            <div class="col-25">
              <img id="wm" src="./assets/img/wm.webp" alt="logo-vmware" />
            </div>
          </div>
        </div>
      </div>

      <!-- RIGA CON CALL TO ACTION E FOTO -->
      <div class="row call-to-action">
        <div class="col-50">
          <div class="text-call-to-action">
            <h2>Start Growing With HubSpot Today</h2>
            <p>
              With tools to make every part of your process more human and a
              support team excited to help you, getting started with inbound has
              never beeen easier.
            </p>
            <a class="button bg-orange btn-big" href="#">GetHubspotFree</a>
            <p class="small-p">
              Get started with FREE tools, or get more with our premium
              software.
            </p>
          </div>
        </div>
        <div class="col-50 picture-t">
          <img
            class="testimonial"
            src="./assets/img/woman.webp"
            alt="woman-smiling"
          />
        </div>
      </div>
    </div>
  </section>
</main>
